<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>MEHDEVELOPMENT</title>
</head>
<body>
  <div class="navigation">
    <input type="checkbox" id="navi-toggle" class="navigation__checkbox">
    <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">
        &nbsp;
      </span>
    </label>
    <div class="navigation__background">
      &nbsp;
    </div>
    <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item"><a href="#" class="navigation__link"><span>00</span>Home</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Skills</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Portfolio</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Contacts</a></li>
      </ul>
    </nav>
  </div>

  <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <header class="header">
                <svg
                  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                  xmlns:svg="http://www.w3.org/2000/svg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="600"
                  height="600"
                  viewBox="0 0 600 600"
                  version="1.1"
                 >
                  <g transform="translate(0,303)">
                    <path
                      style="fill: none"
                      class="braket braket__1"
                      d="m 139.85119,185.11906 c 0,0 -44.601189,5.29167 -51.404763,-22.67857 C 81.642857,134.47024 103.56548,56.607152 100.54167,37.708335 97.517861,18.809518 74.083327,-3.869057 61.232137,-3.869057 c -12.85119,0 34.773814,5.2916666 37.041674,-31.749999 2.267859,-37.041656 -18.898814,-112.636894 -6.047624,-139.095224 12.851193,-26.45833 49.136913,-18.89881 49.136913,-18.89881"
                    />
                    <path
                      style="fill: none"
                      class="braket braket__2"
                      d="m 459.23444,-196.56334 c 0,0 44.6012,-5.29167 51.40477,22.67857 6.80357,27.97025 -15.11906,105.83333 -12.09524,124.73216 3.02381,18.89882 26.45834,41.5773899 39.30953,41.5773899 12.85119,0 -34.77381,-5.2916599 -37.04167,31.7500001 -2.26786,37.04166 18.89881,112.6369 6.04762,139.09523 -12.85119,26.45833 -49.13691,18.89881 -49.13691,18.89881"
                    />
                    <rect
                      style="opacity: 0;fill:#7ed56f;fill-opacity:1;stroke:#7ed56f;stroke-width:15.065;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                      width="42.333332"
                      height="42.333332"
                      x="148.16667"
                      y="-52.249996" />
                    <rect
                      style="fill:#5643fa;fill-opacity:1;stroke:#5643fa;stroke-width:15.06499958;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                      width="21.166666"
                      height="21.166666"
                      x="402.16666"
                      y="-73.416664" />
                    <rect
                      style="fill:#2998ff;fill-opacity:1;stroke:#2998ff;stroke-width:15.06499958;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                      width="31.75"
                      height="31.75"
                      x="169.33333"
                      y="106.50001" />
                    <rect
                      style="fill:#ffb900;fill-opacity:1;stroke:#ffb900;stroke-width:15.06500053;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                      width="31.75"
                      height="31.75"
                      x="232.83333"
                      y="32.416672" />
                    <rect
                      style="fill:#28b485;fill-opacity:1;stroke:#28b485;stroke-width:15.06500053;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke" 
                      width="42.333332"
                      height="42.333332"
                      x="391.58334"
                      y="74.750008" />
                    <rect
                      style="fill:#55c57a;fill-opacity:1;stroke:#55c57a;stroke-width:15.06500149;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                      width="31.75"
                      height="31.75"
                      x="370.41666"
                      y="-158.08333" />
                    <rect
                      style="fill:#f38181;fill-opacity:1;stroke:#f38181;stroke-width:15.06500053;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                      width="21.166666"
                      height="21.166666"
                      x="285.75"
                      y="-83.999992" />
                    <rect
                      style="fill:#eb2f64;fill-opacity:1;stroke:#eb2f64;stroke-width:15.06500053;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                      width="21.166666"
                      height="21.166666"
                      x="328.08334"
                      y="0.66667122" />
                    <rect
                      style="fill:#ff8700;fill-opacity:1;stroke:#ff8700;stroke-width:15.06500149;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
                      width="31.75"
                      height="31.75"
                      x="188.23215"
                      y="-155.81548" />
                   </g>
                 </svg>
              
                <h1 class="header__title center">Hi! I'm Oleg Veskelen!</h1>
                <h4 class="title center">Front-end developer</h4>
              </header>
          </div>

          <div class="swiper-slide">
            <section class="about">
              <div class="section section__wrap">
                <h2 class="section__title center">
                  About
                </h2>
                <h4 class="title center">Couple words about me</h4>
                <p class="section__description center">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit dignissimos repellat, minus delectus unde similique velit reprehenderit odio consectetur sit eveniet perspiciatis minima eligendi consequuntur sed dicta, quod vitae.
                </p>
              </div>
              

              <div class="row row--around">
                <div class="about__item">
                  <p class="about__item-title">Location</p>
                  <img src="./assets/img/about-1.jpg" alt="pic 1" class="about__item-pic">
                  <p class="about__item-description">Russia, Moscow</p>
                </div>

                <div class="about__item">
                  <p class="about__item-title">Education</p>
                  <img src="./assets/img/about-2.jpg" alt="pic 1" class="about__item-pic">
                  <p class="about__item-description">Moscow State University of Instrument Engineering and Computer Science</p>
                </div>

                <div class="about__item">
                  <p class="about__item-title">Experience</p>
                  <img src="./assets/img/about-3.jpg" alt="pic 1" class="about__item-pic">
                  <p class="about__item-description">More than 2 years</p>
                </div>
              </div>
            </section>
          </div>
          
          <div class="swiper-slide">
            <section class="skills container">
              <div class="section section__wrap section--30">
                <h2 class="section__title right">
                  Skills
                </h2>
                <h4 class="title right">Technologies I use</h4>
                <p class="section__description right">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit dignissimos repellat, minus delectus unde similique velit reprehenderit odio consectetur sit eveniet perspiciatis minima eligendi consequuntur sed dicta, quod vitae.
                </p>
              </div>

              <div class="skills__wrap">
                <div class="skills__icon-wrap">
                  <p class="skills__icon-title">JavaScript</p>
                  <svg class="skills__icon skills__icon--js">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-javascript"/>
                  </svg>
                </div>

                <div class="skills__icon-wrap">
                  <p class="skills__icon-title">React, React-native</p>
                  <svg class="skills__icon skills__icon--react">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-react"/>
                  </svg>
                </div>

                <div class="skills__icon-wrap">
                  <p class="skills__icon-title">CSS</p>
                  <svg class="skills__icon skills__icon--css">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-csswizardry"/>
                  </svg>
                </div>

                <div class="skills__icon-wrap">
                  <p class="skills__icon-title">HTML</p>
                  <svg class="skills__icon skills__icon--html">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-html5"/>
                  </svg>
                </div>

                <div class="skills__icon-wrap">
                  <p class="skills__icon-title">Redux</p>
                  <svg class="skills__icon skills__icon--redux">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-redux"/>
                  </svg>
                </div>

                <div class="skills__icon-wrap">
                  <p class="skills__icon-title">Webpack</p>
                  <svg class="skills__icon skills__icon--webpack">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-webpack"/>
                  </svg>
                </div>

                <div class="skills__icon-wrap">
                  <p class="skills__icon-title">SASS</p>
                  <svg class="skills__icon skills__icon--sass">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-sass"/>
                  </svg>
                </div>

                <div class="skills__icon-wrap">
                  <p class="skills__icon-title">Firebase</p>
                  <svg class="skills__icon skills__icon--firebase">
                    <use xlink:href="./assets/img/symbol-defs.svg#icon-firebase"/>
                  </svg>                  
                </div>

              </div>
            </section>
          </div>

          <div class="swiper-slide">
            <section class="portfolio">
              <div class="section section__wrap">
                <h2 class="section__title center">
                  Portfolio
                </h2>
                <h4 class="title center">Examples of my work</h4>
                <p class="section__description center">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit dignissimos repellat, minus delectus unde similique velit reprehenderit odio consectetur sit eveniet perspiciatis minima eligendi consequuntur sed dicta, quod vitae.
                </p>
              </div>

              <div style='width:1200px' class="container">
                  <div class="swiper-portfolio">
                      <div class="swiper-scrollbar"></div>
                      <div class="swiper-wrapper">
  
                        <div class="swiper-slide">
                          <div class="portfolio__card">
                            <div class="portfolio__item portfolio__item--front">
                              <img src="./assets/img/placeholder.jpg" alt="pic" class="portfolio__item-pic">
                              <p class="portfolio__item-title center">Mehnews</p>
                              <p class="portfolio__item-description center">React-native news app</p>
                            </div>
                            
                            <div class="portfolio__item portfolio__item--back">
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-github"/>
                                </svg>
                              </a>
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-open_in_new"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="swiper-slide">
                          <div class="portfolio__card">
                            <div class="portfolio__item portfolio__item--front">
                              <img src="./assets/img/placeholder.jpg" alt="pic" class="portfolio__item-pic">
                              <p class="portfolio__item-title center">Mehnews</p>
                            </div>
                            
                            <div class="portfolio__item portfolio__item--back">
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-github"/>
                                </svg>
                              </a>
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-open_in_new"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="swiper-slide">
                          <div class="portfolio__card">
                            <div class="portfolio__item portfolio__item--front">
                              <img src="./assets/img/placeholder.jpg" alt="pic" class="portfolio__item-pic">
                              <p class="portfolio__item-title center">Mehnews</p>
                            </div>
                            
                            <div class="portfolio__item portfolio__item--back">
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-github"/>
                                </svg>
                              </a>
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-open_in_new"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="swiper-slide">
                          <div class="portfolio__card">
                            <div class="portfolio__item portfolio__item--front">
                              <img src="./assets/img/placeholder.jpg" alt="pic" class="portfolio__item-pic">
                              <p class="portfolio__item-title center">Mehnews</p>
                            </div>
                            
                            <div class="portfolio__item portfolio__item--back">
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-github"/>
                                </svg>
                              </a>
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-open_in_new"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="swiper-slide">
                          <div class="portfolio__card">
                            <div class="portfolio__item portfolio__item--front">
                              <img src="./assets/img/placeholder.jpg" alt="pic" class="portfolio__item-pic">
                              <p class="portfolio__item-title center">Mehnews</p>
                            </div>
                            
                            <div class="portfolio__item portfolio__item--back">
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-github"/>
                                </svg>
                              </a>
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-open_in_new"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="swiper-slide">
                          <div class="portfolio__card">
                            <div class="portfolio__item portfolio__item--front">
                              <img src="./assets/img/placeholder.jpg" alt="pic" class="portfolio__item-pic">
                              <p class="portfolio__item-title center">Mehnews</p>
                            </div>
                            
                            <div class="portfolio__item portfolio__item--back">
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-github"/>
                                </svg>
                              </a>
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-open_in_new"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="swiper-slide">
                          <div class="portfolio__card">
                            <div class="portfolio__item portfolio__item--front">
                              <img src="./assets/img/placeholder.jpg" alt="pic" class="portfolio__item-pic">
                              <p class="portfolio__item-title center">Mehnews</p>
                            </div>
                            
                            <div class="portfolio__item portfolio__item--back">
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-github"/>
                                </svg>
                              </a>
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-open_in_new"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="swiper-slide">
                          <div class="portfolio__card">
                            <div class="portfolio__item portfolio__item--front">
                              <img src="./assets/img/placeholder.jpg" alt="pic" class="portfolio__item-pic">
                              <p class="portfolio__item-title center">Mehnews</p>
                            </div>
                            
                            <div class="portfolio__item portfolio__item--back">
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-github"/>
                                </svg>
                              </a>
                              <a href="#" class="portfolio__item-link">
                                <svg class="portfolio__item-icon">
                                  <use xlink:href="./assets/img/symbol-defs.svg#icon-open_in_new"/>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </div>

                      </div>

                  </div>
              </div>
            </section>
          </div>

          <div class="swiper-slide">
            Contacts
          </div>
      </div>
  </div>

    
         
</body>
</html>
