@font-face{ 
	font-family: 'proximaB';
	src: url('../fonts/Proxima_Bold.otf');
}

@font-face{ 
	font-family: 'proximaR';
	src: url('../fonts/Proxima_Regular.otf');
}

body{
    font-family: 'proximaR', sans-serif;
    line-height: 1.7;
    color: $grey;
}

.title{
	font-size: 2.5rem;
	text-transform: uppercase;
}

a,
a:visited,
a:link{
	text-decoration: none;
	color: inherit;
}


.section{
	&__wrap{
		margin-bottom: 10rem;
	}

	&__description{
		font-size: 1.6rem;
		max-width: 120rem;
		margin-top: 1.5rem;
		margin-left: auto;
		margin-right: auto;
	}

	&__title{
		font-family: 'proximaB';
		text-transform: uppercase;
		letter-spacing: .5rem;
		font-size: 5rem;
		color: $pale-pink;
	}

	&--30{
		max-width: 35%;
		padding: 2rem;
	}
}

.large-word{
	color: rgba($pale-green, .2);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24rem;
	letter-spacing: .5rem;
	font-family: 'proximaB';
	text-transform: uppercase;

	&--left{
		left: 3rem;
	}

	&--right{
		right: 3rem;
	}
}