.center{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;

    &--around{
        justify-content: space-around;
    }
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}