.obj{
    transition: all .9s;
    position: relative;
    display: block;

    @include respond(tab-land){
        width: 50rem;
        height: 50rem;
    }

    @include respond(phone){
        width: 45rem;
        height: 45rem;
    }
}