.portfolio{
    @include section;
    align-items: center;
    justify-content: space-between;

    &__slider{
        overflow: hidden;
        position: relative;
    }

    &__item{
        position: relative;
    }

    &__item-pic{
        display: block;
        width: 100%;
    }

    &__item-overlay{
        position: absolute;
        background-image: linear-gradient(to bottom, rgba($white, .1), rgba($white, .6));
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__item-title{
        font-size: 3rem;
        letter-spacing: .5rem;
        background-color: $white;
        position: absolute;
        left: 2rem;
        top: 20%;
        text-transform: uppercase;
        padding-left: 1rem;
        padding-right: 1rem;
        box-shadow: 0 1rem 3rem rgba($black, .1);
    }

    &__item-links-row{
        display: flex;
        position: absolute;
        bottom: 2rem;
        right: 0;
    }

    &__item-icon{
        width: 6rem;
        height: 6rem;
        margin-right: 3rem;
        fill: $pale-pink;
        transition: all .3s;
    }

    &__item-icon-arrow{
        width: 6rem;
        height: 6rem;
        fill: $pale-pink;
        position: absolute;
        z-index: 11;
        transform: rotate(-45deg);

        &--left{
            left: 4rem; 
        }

        &--right{
            top: 4rem;
        }

    }

    &__slider-button{
        position: absolute;
        width: 10rem;
        height: 10rem;
        background-color: $white;
        border-radius: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        z-index: 10;
        box-shadow: 0 1rem 3rem rgba($black, .1);

        &-prev{
            left: -5.5rem;
        }

        &-next{
            right: -5.5rem;
        }
    }

}

