.skills{
    @include section;
    align-items: center;

    &__wrap{
        position: relative;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include respond(tab-land){
            width: 45%;
        }
    }

    &__icon-wrap{
        display: flex;
        align-items: center;

        &:not(:last-child){
            margin-bottom: 2.5rem;
        }
    }

    &__icon-title{
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
    }

    &__icon{
        height: 6rem;
        width: 6rem;
        display: block;
        margin-left: 2rem;
    }
}