.header{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title{
        font-size: 5rem;
        font-family: 'proximaB';
        letter-spacing: .5rem;
        color: $pale-pink;
        text-transform: uppercase;
    }

    &__logo{
        font-size: 3rem;
        position: absolute;
        top: 6rem;
        left: 6rem;
        color: $pale-pink;
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-family: 'proximaB';
    }

    &__arrow{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%) rotate(-90deg);
        width: 7rem;
        height: 7rem;
        fill: $pale-pink;

        animation-name: rotate;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;

        
    }
}